.education-container {
  margin: 6rem 0 3rem 0;
  color: white;
}
.education-title {
  text-align: center;
  color: var(--main-color);
  font-size: 3rem;
}

.college {
  position: relative;
}
.timeline-container {
  width: max-content;
  padding: 20px;
  margin: 20px auto;
}

/* Timeline dot  */
.college::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--main-color);
}
.college {
  color: var(--main-color);
  margin: 0.5rem 0;
  font-size: 2rem;
}
.deg {
  font-size: 1.3rem;
  color: rgba(197, 204, 171, 0.829);
}
.course {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: white;
  font-style: italic;
}
time {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

/* text right if the experience-card is even  */
.timeline-card:nth-child(even) > .timeline-info > .college {
  text-align: right;
}
.timeline-card:nth-child(even) > .timeline-info > .deg {
  text-align: right;
}
.timeline-card:nth-child(even) > .timeline-info > time {
  text-align: right;
}
.timeline-card:nth-child(even) > .timeline-info > .course {
  text-align: right;
}

/* setting dot to the left if the experience-card is odd */
.timeline-card:nth-child(odd) > .timeline-info > .college::before {
  left: -45px;
}

/* setting dot to the right if the experience-card is odd */
.timeline-card:nth-child(even) > .timeline-info > .college::before {
  right: -45px;
}

/* fdfghjkjhgfghjk */

@media (min-width: 320px) and (max-width: 480px) {
  .education-container {
    margin: 3rem 0 2rem 0;
  }
  .education-title {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .college {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  .deg {
    font-size: 0.8rem;
    color: rgba(197, 204, 171, 0.829);
  }
  .course {
    margin: 0.5rem 0;
    font-size: 0.7rem;
  }
  time {
    margin: 0.5rem 0 !important;
    font-size: 0.7rem !important;
  }
  .timeline-container {
    width: max-content;
    padding: 0px;
    margin: 10px auto;
  }
}
