.homepage-container {
  width: 100;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(37, 35, 35);
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* z-index: 999; */
}
.homepage-header {
  display: flex;
}
.hheader-left {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 3rem;
  color: white;
  font-size: 5rem;
  font-weight: 500;
}
.hheader-middle {
  position: absolute;
  bottom: 0rem;
  overflow: hidden;
  top: 6rem;
  left: 0;
  right: 0;
}
.hheader-right {
  width: 10rem;
  position: fixed;
  top: 1rem;
  right: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
}
.hheader-middle img {
  width: 40rem;
  height: 40rem;
}
.hheader-left span img {
  width: 6rem;
  height: 6rem;
}
.homepage-name {
  letter-spacing: 1rem;
  font-weight: 500;
  font-size: 8rem;
}
.navbar-component {
  display: fixed;
  border: 1px solid var(--main-color);
}
.homepage-footer {
  width: 95%;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  display: flex;
}
.hfooter-left {
  font-size: 1.3rem;
  line-height: 10px;
  font-weight: 600;
  color: white;
  text-align: left;
}
.hfooter-right {
  list-style: none;
  display: flex;
}
span {
  color: var(--main-color);
  font-weight: 900;
}
.social-icon {
  font-size: 2.2rem;
  padding: 1rem;
  color: white;
}
.hfooter-left p {
  margin: 1.2rem 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .homepage-container {
    width: 100vw;
  }
  .homepage-name {
    letter-spacing: 0.7rem;
    font-weight: 500;
    font-size: 2rem;
  }
  .hheader-left span img {
    width: 3rem;

    height: 3rem;
  }
  .hheader-left {
    /* border: 1px solid yellow; */
    font-size: 3rem;
    /* position: absolute; */
    top: 1rem;
    left: 2rem;
  }
  .hheader-middle {
    /* bottom: 10rem; */
    /* border: 2px solid red; */
    max-height: 33rem;
  }
  .hheader-middle img {
    position: static;

    width: 100%;
    max-height: 33rem;
  }
  .hheader-right {
    font-size: 1.5rem;
    top: 1rem;
    right: 0.5rem;
  }
  .homepage-footer {
    position: absolute;
    width: 85%;
    height: 10rem;
    /* top: 14rem; */
    bottom: 0rem;
    /* border: 2px solid red; */
    flex-direction: column;
  }

  .hfooter-right {
    justify-content: space-between;
  }
}
/* @media (min-width: 1920px) {
  .hheader-middle {
    border: 2px solid red;
    width: 100%;
    height: 60rem;
  }
  .hheader-middle img {
    width: 100%;
    height: 60rem;
  }
}
@media (min-width: 1920px) {
  .hheader-middle img {
    width: 60rem;
    height: 60rem;
  }
}
*/
@media (min-width: 1920px) {
  .hheader-middle img {
    width: 60rem;
    height: 60rem;
  }
}
